<% layout('layout/navbar.ejs') %>

<script>
      window.onload = function () {
        
      }
</script>

<body>
  <%if (user) { %>

  <%if (user.esAdmin) { %>
  <div class="row">
    <h1 class="text-center p-3">Usuarios</h1>
    <% usuarios.forEach(function(usuario, index) { %>
      <div class="col-md-3">
      <div class="card m-2">
        <div class="card-body">
          <h4 class="card-title d-flex justify-content-between align-items-center">
          <%= usuario.email %> <a href="/user/edit/<%= usuario._id %>"><i class="bi bi-pencil-fill"></i>
          </a>
          </h4>
          <p> Usuario numero : <%= index + 1 %> </p>
          <p> Monedas : <%= usuario.monedas %> </p>
          <p id="ultTime">Ult inicio sesión: <%= usuario.ult_inicio %> </p>
          <form action="/user/delete/<%= usuario._id %>" method="POST">
            <button type="submit" class="btn btn-danger btn-block btn-sm">Eliminar</button>
          </form>
        </div>
      </div>
    </div>
    <% }) %>
    <h1 class="text-center p-3">Contacto</h1>
    <% contactos.forEach(function(contactos, index) { %>
      <div class="col-md-3">
      <div class="card m-2">
        <div class="card-body">
          <h4 class="card-title d-flex justify-content-between align-items-center">
          <p> Email : <%= contactos.email %> </p>
          </a>
          </h4>
          <p> Contacto numero : <%= index + 1 %> </p>
          <p> Contenido : <%= contactos.contenido %> </p>
          <p id="ultTime">Hora: <%= contactos.hora %> </p>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
  <% } else { %>
    <h1>No tienes permisos para ver esta pagina</h1>
    <% } %>
  <% } %>


</body>
