<% layout('layout/navbar.ejs') %>
<div class="container-lg">
    <div class="row">
      <div class="col mt-4 text-center">
        <form action="/user/edit-user/<%= user._id %>" method="POST">
          <div class="card-header border border-dark rounded-pill">
            <h3>Editar Usuario</h3>
          </div>
          <input type="hidden" name="id" value="<%= user.id %>"></input>
          <div class="card-body">
            <div class="input-group ">
              <div class="input-group-text rounded-pill"><i class="bi bi-at"></i> </div>
              <input type="email" name="email" class="form-control rounded-pill" placeholder="name@example.com" value=<%= user.email %>>
            </div>
            <!--
            <div class="input-group ">
              <div class="input-group-text rounded-pill"><i class="bi bi-bag"></i>
              </div>
              <input type="password" name="password" class="form-control rounded-pill" value=<%= user.password %>>
            </div>
            -->
            <div class="input-group ">
                <div class="input-group-text rounded-pill"><i class="bi bi-bag"></i>
                </div>
                <input type="text" name="monedas" class="form-control rounded-pill" value=<%= user.monedas %>>
              </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary btn-block mt-4 btn-dark btn-lg rounded-pill">
                Guardar
              </button>
            </div>
        </form>
      </div>
    </div>
  </div>
  </div>